identifier=dfsf
notification.window.direction=bottom
receiveNotifications=true
wsHost=kasnet.netis.pl
notification.window.x=450
display=0
notification.window.y=0
fixWindowManagerFocus=true
xmppConnectionTimeout=30000
notification.window.height=102
wsConnectionProtocol=https
networkId=199
cashierId=root
notification.window.width=1000
autohideDelay=-1
clientId=zmq-{{ l_host.name }}
shopId={{ NRS }}
shopSecureKey={{ ids.stdout }}
